body {
    font-family: 'Montserrat', sans-serif;
    color: black;

    margin: 0;
    padding: 0;
    overflow: hidden;

    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;

}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 10px;
}


.carousel-item .card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    color: black;
}


h1.mb-4,
h2 {
    color: white;
}


.btn-custom {
    background-color: rgb(85, 85, 227);
    color: #fff;

}

.carousel-item img {
    max-height: 400px;
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.carousel-control-prev,
.carousel-control-next {
    top: unset;
    bottom: 25px;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 40px;
    height: 40px;
    background-color: #343a40;
    border-radius: 50%;
    padding: 10px;
    opacity: 0.9;

}