body {
    font-family: 'Montserrat', sans-serif;
    color: black;

    margin: 0;
    padding: 0;
    overflow: hidden;

    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;

}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px; /* Définissez la largeur souhaitée ici */
    height: auto; /* Laissez la hauteur ajustée automatiquement pour conserver les proportions */
    margin-right: 10px; /* Espacement entre le logo et le texte */
}


.carousel-item .card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    color: black;
}


h1.mb-4,
h2 {
    color: white;
}


.btn-custom {
    background-color: rgb(85, 85, 227);
    color: #fff;

}

.carousel-item img {
    max-height: 400px;
    width: auto;
    height: 100%;
    margin: 0 auto;
}
.carousel-control-prev,
.carousel-control-next {
    top: unset;
    bottom: 25px;

}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    /* Add your custom styles here */
   
    width: 40px;
    /* Adjust the width as needed */
    height: 40px;
    /* Adjust the height as needed */
    background-color: #343a40;
    /* Change the background color */
    border-radius: 50%;
    padding: 10px;
    opacity: 0.9;
    /* To create circular icons, adjust the radius as needed */
}